<!DOCTYPE html>
<html>
<head>
    <title>Registered Users</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1>All Registered Users</h1>

    <% if (users.length === 0) { %>
        <p>No users found.</p>
    <% } else { %>
        <table border="1" cellpadding="5">
            <tr>
                <th>Username</th>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
            </tr>

            <% for (let i = 0; i < users.length; i++) {
                let user = users[i]; %>
                <tr>
                    <td><%= user.username %></td>
                    <td><%= user.first %></td>
                    <td><%= user.last %></td>
                    <td><%= user.email %></td>
                </tr>
            <% } %>
        </table>
    <% } %>

    <p><a href="/auth/login">Back to Login</a></p>

</body>
</html>
