<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <h1>Login</h1>

    <form action="/auth/login" method="POST">
        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Log In</button>
    </form>

    <p><a href="/auth/register">Create an account</a></p>

</body>
</html>
